<h1>List of cocktails</h1>
<%= link_to "Add a new cocktail", new_cocktail_path %>

<div class="container">
  <div class="row">
    <% @cocktails.each do |cocktail| %>
      <div class="col-xs-12 col-sm-4">
      <!-- insert <div class="card"> -->
        <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('<%= cl_image_path "lrgsbgw4im9egknkj5pw.jpg", height: 300, width: 400, crop: :fill %>')">
          <div class="card-description">
            <h2><%= link_to cocktail.name, cocktail_path(cocktail) %></h2>
          </div>
        </div>
      </div>
    <%end %>
  </div>
</div>
